body{
	background: url(lupo.jpg) no-repeat;
        background-size: cover;
	margin:1px;
	padding:3px;
}
ul{
	list-style:none;
	margin:0;
	padding:6px;
}
a{
	text-decoration:none;
}
section{
	width:100%;
	height:23vh;
	position: relative;
}
nav {
	list-style-type: none;
	justify-content: space-between;
	align-items:center;
	height:40px;
	background-color:#a9a9a9;
	box-shadow:2px 2px 30px rgba(0,0,0,0.2);
	padding:15px 20%;
	
}
nav ul{
	display: flex;
}
.toggle{
	display: none;
}
a:hover {
  color: #ffff;
	
}
 
nav ul li a{
	margin:25px;
	font-family:myriad pro regular;
	color:#505050;
	font-size: 18px;
	font-weight:bold;
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: -5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 100;
  font-family: 'American Typewriter', serif;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  font-size: 15px;
  letter-spacing: 4px;
  font-weight: 100;
  font-family: 'American Typewriter', serif;
}
.box li{
  display: inline-block;
  margin: 4px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 50px;
  transition: all ease-in-out 250ms;
	margin:0;
	padding:0px;
}
.box li a:hover{
  color: #b9b9b9;
}
#family{
	width:100%;
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
}
.family-img{
  border-radius: 2%;
  width: 400px;
  height: 300px;
}
.family-text{
	font-family: myriad pro regular;
	font-weight:500;
	width: 50%;
}
.family-text h1{
	font-size: 55px;
	color:#696969;
}
.family-text h2{
	font-size: 30px;
	color:#FFFFFF;
	font-weight: 400;
}
.family-text h1,h2{
	margin: 0px;
	padding: 0px;
}
.family-text p{
	font-size: 18px;
	color:rgba(255,255,255,0.90);
	
}
#portfolio{
	width:100%;
	box-sizing: border-box;
	font-family: calibri;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 250px 2% 100px 2%;
}
 
.p-headind{
	font-family: calibri;
	font-size: 1.7rem;
	text-align: center;
	color:#FFFFFF;
	font-weight: 400;
	padding: 0px 0px;
	background-color: #A9A9A9;
	letter-spacing: 2px;
	border-radius: 2px;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
	
}
.p-box{
 
	background-color: #1F1F1F;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
	position: relative;
 
}
.p-box img{
 	width: 100%;
	height: 100%;
	object-fit: cover;
}
.p-container{
	width: 100%;
	height:90vh;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 10px;
}
.overlay-text{
	display:none;
	
}
.overlay-text h1,p{
	color: #FFFFFF;
}
.overlay-text h1{
	font-size: 2.2rem;
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;
	
}
.overlay-text p{
	font-size: 1.2rem;
	margin: 0px;	
}
.video-container{
 	flot:left;
	width: 100%; 
    }
.video-container video{
	width: 100%; 
	height: 60vh;
	padding: 50px 0% 0px 0%;
}
.video-container p{
	width: 100%; 
	line-height:26px; 
	font-size:18px; 
	text-align:center; 
	padding-bottom:50px;
}
#ex{
	width:100%;
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 5% 0px 5%;
	position: relative;
}
.ex-model{
  border-radius: 2%;
  width: 40%;
  height: 50%;
}
.ex-text{
	font-family: myriad pro regular;
	font-weight:500;
	width: 50%;
	
}
.ex-text h1{
	font-size: 50px;
	color:#696969;
	line-height:100px; 
	
}
.ex-text h2{
	font-size: 30px;
	color:#FFFFFF;
	font-weight: 400;

}
.ex-text h1,h2{
	margin: 0px;
	padding: 0px;

}
.ex-text p{
	font-size: 18px;
	color:rgba(255,255,255,0.90);
	line-height:26px; 	
}